body {
  background-color: hsl(217, 28%, 15%);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* Navigation */
nav {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

#logo {
  display: flex;
  align-items: center;
}

nav img {
  width: 15vh;
  margin-left: 15%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  width: 50%;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.intro-images {
  width: 100%;
}

.intro-images img:nth-child(1) {
  width: 80%;
  padding: 10% 10% 0 10%;
  z-index: 1;
}

.intro-images img:nth-child(2) {
  width: 100%;
  z-index: -1;
  position: relative;
  bottom: -5px;
}

.intro-content {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 10%;
}

.intro-content h1 {
  margin: 0;
  font-weight: 700;
}

.intro-content p {
  font-weight: 400;
}

.intro-content button {
  width: 80%;
  border-radius: 25px;
  padding: 15px 25px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(176, 68%, 64%);
  border: 1px solid hsl(176, 68%, 64%);
}

/* Cards */
#cards {
  width: 100%;
  background-color: hsl(218, 28%, 13%);
  text-align: center;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
}

.card {
  width: 75%;
  margin: 10% auto;
}

/* Stay Protected Card */
#stay-protected-card {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}

#stay-protected-card img {
  width: 100%;
}

.stay-protected-card-content {
  width: 80%;
  margin: 0 auto;
  padding: 10% 0 20% 0;
}

.stay-protected-card-content a {
  color: hsl(176, 68%, 64%);
}
/* Testimonials */
#testimonial-card-wrapper {
  background-color: hsl(217, 28%, 13%);
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-card {
  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
  width: 70%;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 5px;
}

.testimonial-publisher {
  display: flex;
  align-items: center;
}

.testimonial-publisher img {
  width: 20%;
  height: 20%;
  border-radius: 50px;
}

.testimonial-publisher-content h4 {
  margin: 0;
}

.testimonial-publisher-content p {
  margin: 0;
}
/* Footer */
.newsletter-card {
  background-color: hsl(217, 28%, 15%);
  color: white;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 25px;
}

.newsletter-card h3 {
  margin: 0;
}

.newsletter-card form input {
  width: 80%;
  border-radius: 25px;
  padding: 15px 25px;
}

.newsletter-card form button {
  width: 80%;
  border-radius: 25px;
  padding: 15px 25px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(176, 68%, 64%);
  border: 1px solid hsl(176, 68%, 64%);
}

footer {
  background-color: hsl(216, 53%, 9%);
}

footer img {
  margin-top: 50px;
}

.footer-content {
  margin-left: 5%;
}

.footer-label {
  display: flex;
  align-items: top;
  color: white;
  margin-top: 50px;
}

.footer-label p {
  margin: 0 0 0 5%;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.footer-links ul li {
  margin: 5% 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-social-links {
  margin-top: 15%;
}

.footer-social-links ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-links ul li a {
  color: white;
}

.copyright {
  padding: 10% 0 20% 0;
  margin: 0;
  text-align: center;
}
